<template name="layout">
	<div style="min-height: 100%; padding-bottom: 80px;">
		{{> header}}
		<div class="jumbotron">
			<h2 class="text-center">
				Salomon Martinez
				<br>
				1001582988
				<br>
				{{title}}
			</h2>
		</div>
		<div class="container">
			{{> yield}}
		</div>
	</div>
	{{> footer}}
</template>

<template name="header">
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/">CSE 6331</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Assignments</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">Assignment 1</a>
							<a class="dropdown-item" href="#">Assignment 2</a>
							<a class="dropdown-item" href="/assignment3">Assignment 3</a>
							<a class="dropdown-item" href="/assignment4">Assignment 4</a>
							<a class="dropdown-item" href="/assignment5">Assignment 5</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Quizzes</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">Quiz 0</a>
							<a class="dropdown-item" href="#">Quiz 1</a>
							<a class="dropdown-item" href="/quiz2">Quiz 2</a>
							<a class="dropdown-item" href="/quiz3">Quiz 3</a>
							<a class="dropdown-item" href="/quiz4">Quiz 4</a>
							<a class="dropdown-item" href="/quiz5">Quiz 5</a>
							<a class="dropdown-item" href="/quiz6">Quiz 6</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</header>
</template>

<template name="footer">
	<footer class="footer text-center">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="display: block">
			<span class="navbar-text">Text goes here and stuff...</span>
		</nav>
	</footer>
</template>
